@import url('./libs/reset.css');
@import url('./layouts/variables.pcss');
@import url('./layouts/default.pcss');
@import url('./routes/index.pcss');
@import url('./routes/delivery-office.pcss');
@import url('./routes/medecine.pcss');
@import url('./routes/order.pcss');
@import url('./components/dropdown/dropdown.pcss');
@import url('./components/form/checkbox/checkbox.pcss');
@import url('./components/form/button/button.pcss');
@import url('./components/form/input/input.pcss');
@import url('./components/common-header/common-header.pcss');
@import url('./components/product-label/product-label.pcss');
@import url('./components/favorite-button/favorite-button.pcss');
@import url('./components/account/account-input/account-input.pcss');
@import url('./components/account/gender-selector/gender-selector.pcss');
@import url('./components/account/account-pane/account-pane.pcss');
@import url('./components/account/info-pane/info-pane.pcss');
@import url('./components/account/settings-pane/settings-pane.pcss');
@import url('./components/account/account-location/account-location.pcss');
@import url('./components/account/change-delivery-option-modal/change-delivery-option-modal.pcss');
@import url('./components/account/change-payment-method-modal/change-payment-method-modal.pcss');
@import url('./components/account/change-delivery-office-modal/change-delivery-office-modal.pcss');
@import url('./components/add-comment/add-comment.pcss');
@import url('./components/address-list/address-list.pcss');
@import url('./components/address-list-order/address-list-order.pcss');
@import url('./components/amount-controls/amount-controls.pcss');
@import url('./components/analog-masonry/analog-masonry.pcss');
@import url('./components/auth-form/auth-form.pcss');
@import url('./components/auth-modal/auth-modal.pcss');
@import url('./components/banner/banner.pcss');
@import url('./components/banner-grid/banner-grid.pcss');
@import url('./components/banner-slider/banner-slider.pcss');
@import url('./components/basket-page/basket-page.pcss');
@import url('./components/bonus-program/bonus-program.pcss');
@import url('./components/brand-icon-grid/brand-icon-grid.pcss');
@import url('./components/brand-page/brand-page.pcss');
@import url('./components/brand-search/brand-search.pcss');
@import url('./components/brand-search-index/brand-search-index.pcss');
@import url('./components/brand-search-list/brand-search-list.pcss');
@import url('./components/bread-crumps/bread-crumps.pcss');
@import url('./components/catalog-list/catalog-list.pcss');
@import url('./components/catalog-grid/catalog-grid.pcss');
@import url('./components/comment-list/comment-list.pcss');
@import url('./components/content-block/content-block.pcss');
@import url('./components/delivery-card/delivery-card.pcss');
@import url('./components/delivery-explore/delivery-explore.pcss');
@import url('./components/delivery-map/delivery-map.pcss');
@import url('./components/filter-accordeon/filter-accordeon.pcss');
@import url('./components/filter-search-checkbox/filter-search-checkbox.pcss');
@import url('./components/filter-search-list/filter-search-list.pcss');
@import url('./components/header-tags/header-tags.pcss');
@import url('./components/index-list/index-list.pcss');
@import url('./components/instruction-use/instruction-use.pcss');
@import url('./components/medecine-page/medecine-page.pcss');
@import url('./components/message-modal/message-modal.pcss');
@import url('./components/mobile-navigator/mobile-navigator.pcss');
@import url('./components/modal-window/modal-window.pcss');
@import url('./components/news-column/news-column.pcss');
@import url('./components/news-row/news-row.pcss');
@import url('./components/notify-product-modal/notify-product-modal.pcss');
@import url('./components/one-three-columns/one-three-columns.pcss');
@import url('./components/order-form/order-form.pcss');
@import url('./components/pagination/pagination.pcss');
@import url('./components/payment-methods/payment-methods.pcss');
@import url('./components/price-selector/price-selector.pcss');
@import url('./components/product-card/product-card.pcss');
@import url('./components/product-comments/product-comments.pcss');
@import url('./components/product-comments-list/product-comments-list.pcss');
@import url('./components/product-comments-media/product-comments-media.pcss');
@import url('./components/product-comments-rating/product-comments-rating.pcss');
@import url('./components/product-discounts/product-discounts.pcss');
@import url('./components/product-like-share/product-like-share.pcss');
@import url('./components/product-preview/product-preview.pcss');
@import url('./components/product-slider/product-slider.pcss');
@import url('./components/product-tabs/product-tabs.pcss');
@import url('./components/products-grid/products-grid.pcss');
@import url('./components/search-swich-filter/search-swich-filter.pcss');
@import url('./components/select-address-map-modal/select-address-map-modal.pcss');
@import url('./components/scrollable-area/scrollable-area.pcss');
@import url('./components/selected-pharmacy-page/selected-pharmacy-page.pcss');
@import url('./components/selected-map-list/selected-map-list.pcss');
@import url('./components/search-form/search-form.pcss');
@import url('./components/search-location/search-location.pcss');
@import url('./components/section-links/section-links.pcss');
@import url('./components/sharing-popup/sharing-popup.pcss');
@import url('./components/shop-category/shop-category.pcss');
@import url('./components/shop-category-filters/shop-category-filters.pcss');
@import url('./components/shop-category-sorting/shop-category-sorting.pcss');
@import url('./components/shop-terminal/shop-terminal.pcss');
@import url('./components/shop-terminal-modal/shop-terminal-modal.pcss');
@import url('./components/shop-widget/shop-widget.pcss');
@import url('./components/shop-aside/shop-aside.pcss');
@import url('./components/simple-slider/simple-slider.pcss');
@import url('./components/site-footer/site-footer.pcss');
@import url('./components/site-header/site-header.pcss');
@import url('./components/site-map/site-map.pcss');
@import url('./components/static-comments/static-comments.pcss');
@import url('./components/static-page/static-page.pcss');
@import url('./components/order-details/order-details.pcss');
@import url('./components/form/search-input/search-input.pcss');
@import url('./components/form/swich-button/swich-button.pcss');
@import url('./components/town-selector/town-selector.pcss');
@import url('./components/y-map/y-map.pcss');
@import url('./routes/index.pcss');
@import url('./routes/account.pcss');
