@import url('../../layouts/variables.pcss');

.brand-search {
	margin-top: 40px;

	@media (--tablet) {
		margin-top: 24px;
	}
}

.brand-search__header {
	font-weight: 700;
	font-size: 32px;
	line-height: 38px;
	color: var(--black);
}
