.delivery-office__title {
	margin-top: 40px;
	margin-bottom: 20px;

	@media (--desktop-small) {
		margin-top: 95px;
		margin-bottom: 20px;
	}
	@media (--desktop-medium) {
		margin-top: 40px;
		margin-bottom: 24px;
	}
}

.delivery-office__counter {
	font-weight: 400;
	color: var(--light-gray);
}

.delivery-office__slider {
	margin-bottom: 30px;

	@media (--tablet) {
		margin-bottom: 20px;
	}

	@media (--desktop-medium) {
		margin-bottom: 36px;
	}
}
