@import url('../layouts/variables.pcss');

.index-page__products {
	margin-top: 30px;

	@media (--mobile-medium) {
		margin-top: 24px;
	}

	@media (--tablet) {
		margin-top: 18px;
	}

	@media (--desktop-small) {
		margin-top: 24px;
	}

	@media (--desktop-medium) {
		margin-top: 32px;
	}
}
