.filter-search-checkbox {
	display: flex;
	align-items: center;
}

.filter-search-checkbox__checkbox {
	flex-shrink: 0;
}

.filter-search-checkbox__label {
	margin-left: 12px;
	padding: 1px 0;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: var(--black);

	@media (--tablet) {
		margin-left: 16px;
		padding: 4px 0;
		font-size: 14px;
		line-height: 16px;
	}
}
